@import 'reset';

:root {
  --fullsize: {
    height: 100vh;
    width: 100vw;
  };
}

body {
  background-color: black;
  color: white;
  font-size: 3em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  overflow: hidden;
}

canvas {
  @apply --fullsize;

  @media only screen and (orientation: portrait) {
    display: none;
  }
}

.is-hidden,
.device-is-landscape { display: none; }

.notification {
  position: absolute;
  top: 0;
  left: 0;
}

.alert {
  background-color: #333;
  border-radius: 10px;
  font-family: monospace;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;

  & h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
  }

  & p {
    padding: 1rem;
    line-height: 1.5;
  }

  & img {
    margin-bottom: -10rem;
  }
}

.circle-is-placed {
  & img {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.device-is-landscape {
  @media only screen and (orientation: portrait) { display: block; }

  @media only screen and (orientation: landscape) { display: none; }
}
